  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #c2c2ff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
  }

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
}


  .logo {
    height: 80px;
  }

  .card {
  width: 75%;
  max-width: 360px;
  margin: 0 auto; 
  background: white;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

  .service-name{
    font-size: 24px;
    color: #000000;
    margin-bottom: 24px;
    word-break: keep-all;
  }

  .service-detail {
    font-size: 32px;
    margin-bottom: 36px;
    word-break: keep-all;
    padding: 0 8px;
  }

  .button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background: #ffd43b;
    cursor: pointer;
    margin-bottom: 24px;
  }


.footer{
  width: 75%;
  max-width: 360px;
  margin: 0 auto; 
  background: white;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin-top: 40px; 
  font-size: 14px;
}