.label{
  font-size: 24px;
  color: #000000;
  margin-bottom: 24px;
  word-break: keep-all;
}

.question{
  font-size: 32px;
  margin-bottom: 36px;
  word-break: keep-all;
  padding: 0 8px;
}


.answer {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 24px;
  word-break: keep-all;
}